<link rel="stylesheet" href="css/agendamentoConsulta.css">

<div class="container">
    <div class="div-titles">
        <h3>Agendamento de Consulta</h3>
    </div>
    <h5 id="Nomeh5">Nome do Médico:</h5>
    <h5 id="Especialidadeh5">Especialidade do Médico:</h5>
    <h5 id="Horarioh5">Horário da consulta:</h5>
    <h5 id="Datah5">Data da consulta:</h5>

    <input placeholder="CPF do cliente" type="text" required id="CPF">
    
    <div class="formstotal">

        <form class="forms" action="">
            <select class="form-control" name="Nome" id="Nome">
                <option value="1">Gustavo</option>
                <option value="2">Lucas</option>
                <option value="3">Kevin</option>
            </select>
            <select class="form-control" name="Especialidade" id="Especialidade">
                <option value="1">Medico Geral</option>
                <option value="2">Pediatra</option>
                <option value="3">Cardiologista</option>
            </select>
        </form>

        <div class="input-container">
            <input placeholder="Hora" type="text" required id="Hora">
            <input placeholder="Data" type="text" required id="Data">
           
         </div>

    </div>




    <div class="btn">
        <button type="button" id="Agendar">Agendar</button>
        <button type="button" id="Voltar">Voltar</button>
    </div>