<link rel="stylesheet" href="css/agendamentoConsulta.css">

<div class="container">
  <div class="div-titles">
    <h3>Agendamento de Consulta</h3>
  </div>
  <input placeholder="CPF do cliente" type="text" required id="CPF">

  <div class="formstotal">

    <form class="forms" action="">


      <div id="selectNome">
        <label for="Nome" id="labelNome">Nome do Médico:</label>
        <select class="form-control" la name="Nome" id="Nome">
          <option value="1">Gustavo</option>
          <option value="2">Lucas</option>
          <option value="3">Kevin</option>
        </select>
      </div>


      <div id="selectEspecialidade">
        <label for="Especialidade" id="Lanel">Especialidade do Médico:</label>

        <select class="form-control" name="Especialidade" id="Especialidade">

          <option value="1">Medico Geral</option>
          <option value="2">Pediatra</option>
          <option value="3">Cardiologista</option>
        </select>
      </div>
    </form>

    <div class="input-container">

      <div id="divHora">
        <label for="Horinha" id="Horinha">Hora da consulta:</label>
        <input placeholder="Hora" name="Horinha" type="text" required id="Hora">
      </div>

      <div id="Datinha">
        <label for="Datinha">Data da consulta:</label>
        <input placeholder="Data" name="Datinha" lang="text" required id="Data">
      </div>
    </div>

  </div>




  <div class="btn">
    <button type="button" id="Agendar">Agendar</button>
    <button type="button" id="Voltar">Voltar</button>
  </div>


</div>

<script>
  const dataUser = JSON.parse(sessionStorage.getItem('userData'))
  const token = dataUser.token

  fetch('/DadosParaRegistroConsulta', {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
      authorization: token
    }
  })
    .then(response => response.json())
    .then(data => {
      if (data.result === false) {
        alert("não foi possivel retornar as especializações disponiveis para registro erro:", data.cadastroMessage)
        return
      } else if (data.auth === false) {
        alert('usuario deslogado, logue novamente para continuar')
        window.location = '/login'
      }
      sessionStorage.setItem("especialidadesToConsulta", JSON.stringify(data));
    })
    .catch(error => {
      console.error('Erro:', error);
    });


  const selectEspecialidade = document.getElementById('Especialidade')

  const receiveEspecialities = sessionStorage.getItem("especialidadesToConsulta")
  receiveEspecialities.moreInfos.forEach(e => {
    const createNewOption = document.createElement('option')
    createNewOption.value = `${e.funcionario_id}`;
    createNewOption.innerText = `${e.desc_especialidade}`
  })
  selectEspecialidade.appendChild()

</script>