<link rel="stylesheet" href="css/consultaAdm.css">
<!-- Seção da tabela de dados -->
<section class="dados" id="dados">
  <h1 class="heading"> <span>Tabela de todas as Consultas</span> </h1>
  <table>
    <thead>
      <tr>
        <th>Consulta ID</th>
        <th>CPF</th>
        <th>Nome do Paciente</th>
        <th>Especialidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody id="corpo-tabela-dados">
      <!-- Os dados serão inseridos aqui pelo JavaScript -->
      <tr>
        <td>001</td>
        <td>123.456.789-10</td>
        <td>João da Silva</td>
        <td>Dermatologista</td>
        <td><button class="fas fa-trash-alt btn-excluir" onclick="excluirConsulta(1)"></button></td>
        
      </tr>
      <tr>
        <td>002</td>
        <td>583.421.368-10</td>
        <td>Marcos Lucas</td>
        <td>Cardiologista</td>
        <td><button class="fas fa-trash-alt btn-excluir" onclick="excluirConsulta(1)"></button></td>
      </tr>
      <!-- Inicio da função que talvez possa ser usada para excluir a linha  -->
      <!-- // Função para excluir uma consulta
            function excluirConsulta(row) {
            // Confirme se o usuário deseja realmente excluir a consulta
            if (confirm("Tem certeza de que deseja excluir esta consulta?")) {
            // Obtém a referência da linha a ser excluída
            var rowIndex = row.parentNode.parentNode.rowIndex;

            // Remove a linha da tabela
            document.getElementById("corpo-tabela-dados").deleteRow(rowIndex);
            }
            } -->
      <!-- Fim da função que talvez possa ser usada para excluir a linha  -->
    </tbody>
  </table>
</section>
<!-- Fim da seção da tabela de dados -->

<script defer>
  
</script>