<link rel="stylesheet" href="../../../public/css/header.css">

<header class="header">

    <a href="#" class="logo">
        <img src="../../../public/img/imgLogo1.jpg" alt="logo">
    </a>

    <nav class="navbar">
        <a href="#home">Início</a>
        <a href="#sobre">Sobre nós</a>
        <a href="#especialidades">Especialidades</a>
        <a href="#contact">Contatos</a>
        <a href="#login" id="telaLogin">Login</a>
        
    </nav>

    <div class="icons">
        <div class="fas fa-sign-out-alt" id="search-btn"></div>
    </div>

    

</header>

<script>
    document.getElementById('telaLogin').addEventListener((E)=>{window.location.href="../pages/telaLogin.ejs"})
</script>
